.navigate {
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.listItem {
    list-style: none;
    padding: 5px;
}

.listItems {
    display: flex;
    justify-content: space-around;
}

.link {
    text-decoration: none;
    color: black;
}

.link:active {
    background-position: 0 0;
    color: #faf9ea;
}

a.link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0c4052;
    padding: 10px 20px;
    width: 102px;
    height: 45px;
    text-decoration: none;
    margin: 20px auto;
    background-size: 200% 100%;
    font: 400 18px tahoma;
}

.link:hover {
    color: #3276b8;
}

