.navigate {
margin-bottom: 25px;
}
.listItem {
    list-style: none;
    padding: 5px;

}

.listItems {
    display: flex;
    justify-content: space-around;
}

.link {
    text-decoration: none;
    color: black;
}
.link:active {
    color: #faf9ea;
}

a.link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0c4052;
    padding: 10px 20px;
    width:102px;
    height: 45px;
    text-decoration:none;
    margin:20px auto;
    background-image: linear-gradient(to left,transparent,transparent 50%, rgb(68, 136, 183) 50%,rgb(106, 154, 255));
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    font: 400 18px tahoma;

}
a.link:hover {
    background-position: 0 0;
    color:#fff;
}
