.arrow {
    bottom: -80px;
    right: 20px;
    border: 3px solid #cbdfea;
    text-align: center;
    padding: 10px;
    position: fixed;
    cursor: pointer;
    font-size: 12px;
    transition: all .3s ease-in-out;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    z-index: 1;
    width: 63px;
    height: 63px;
}

.arrow:hover {
    border-color: #59c0b6;
}

.right {
    display: inline-flex;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.right::before {
    position: absolute;
    display: inline-flex;
    width: 15px;
    height: 15px;
    content: '';
}

.right::before {
    top: 12px;
    left: 2px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(-45deg);
}


.right:hover {
    border-color: #59c0b6;
}


