.blur {
    backdrop-filter: blur(2px);
}

.container {
    overflow: hidden;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.wrapper {
    display: flex;
    flex-wrap: wrap;
}

